 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}
a:link {
  color: rgb(17, 17, 173);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .main
{
  width: 580px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .main img[src="img/logo.png"] 
{
  max-width: 50%;
}
section .main .searchBx
{
  position: relative;
  width: 600px;
  margin-top: 20px;
}
section .main .searchBx .query
{
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
  padding-left: 45px;
  padding-right: 60px;
} 
section .main .searchBx .query:hover
{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
section .main .searchBx .icons
{
  position: absolute;
  top: 0;
  width: 105%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  pointer-events: none;
  left: -5px;
}
section .main .searchBx .icons img[src="img/search.png"] 
{
  max-width: 45%;
  opacity: 0.4;
  border: 1px solid transparent;
}
section .main .searchBx .icons img[src="img/mic.png"]
{
  max-width: 70%;
}
.searchBtn
{
  margin: 0 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 20px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.saveBtn
{
  right: 245px;
  margin-top: 20px;
  padding: 12px 30px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.searchBtn:hover, .saveBtn:hover
{
  animation: rotate624 0.7s ease-in-out both;
}
@keyframes rotate624 
{
  0% 
  {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  
  25% 
  {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  
  50% 
  {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  
  75% 
  {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  
  100% 
  {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm1261 
{
  0% 
  {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  
  25% 
  {  
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  
  50% 
  {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  
  75% 
  {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  
  100% 
  {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.searchBtn:after
{
  background: #0098fe;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.saveBtn:after
{
  background: #9dff00;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.searchBtn:hover:after, .saveBtn:hover:after
{
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
